.container {
  max-width: 1210px;
  width: 100%;
  padding: 0 20px;
  margin: 0 auto;
}

.errorSpan {
  color: red;
  font-size: 35px;
  border: 1px solid red;
  padding: 5px;
  opacity: 200;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 200px;
}

@media only screen and (max-width: 565px) {
  .container {
    padding: 0 10px;
  }
}
